.git
.github
node_modules
vendor
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
tests
phpunit.xml
composer.phar
*.md
docker/**/*.log
